<%= simple_form_for(@lecture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nama %>
    <%= f.input :nidn %>
    <%= f.association :education, label_method: :nama %>
    <%= f.association :functional_allowance, label_method: :nama %>
    <%= f.association :structural_allowance, label_method: :nama %>
    <%= f.association :special_allowance, label_method: :nama %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
