<%= simple_form_for(@lecture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nama, label: 'Nama'  %>
    <%= f.input :nidn, label: 'NIDN'  %>
    <%= f.association :education, label_method: :nama, label: 'Pendidikan', label_method: lambda{|education|"#{education.nama.upcase}"} %>
    <%= f.association :classification, label_method: lambda{|classification|"#{classification.nama}"}, label: 'Golongan' %>
    <%= f.association :functional_allowance, label_method: :nama, label: 'Jabatan Fungsional' %>
    <%= f.association :structural_allowance, label_method: :nama, label: 'Jabatan Struktural' %>
    <%= f.association :special_allowance, label_method: :nama, label: 'Jabatan Khusus' %>
    <%= f.association :performance_allowance, label_method: lambda{|performance_allowance|"#{performance_allowance.range_mahasiswa}"}, label: 'Kinerja' %>


  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-default' %>&nbsp;&nbsp;<%= link_to 'Kembali', lectures_path, class: 'btn btn-success' %>
  </div>
<% end %>
