<div class='container'>
  <div class='row'>
    <h3 class='lead'>Daftar Dosen&nbsp;&nbsp;<%= link_to 'Tambah Dosen', new_lecture_path, class: 'btn btn-default' %></h3>

    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>Nama</th>
          <th>NIDN</th>
          <th>Pendidikan</th>
          <th>J. Fungsional</th>
          <th>J. Struktural</th>
          <th>J. Khusus</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @lectures.each do |lecture| %>
          <tr>
            <td><%= lecture.nama.upcase rescue nil %></td>
            <td><%= lecture.nidn %></td>
            <td><%= lecture.education.nama.upcase rescue nil %></td>
            <td><%= lecture.functional_allowance.nama.titleize rescue nil %></td>
            <td><%= lecture.structural_allowance.nama.titleize rescue nil %></td>
            <td><%= lecture.special_allowance.nama rescue nil %></td>

            <td><%= link_to 'Edit', edit_lecture_path(lecture) %>&nbsp;&nbsp;<%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>

</div>
