<%= simple_form_for(@basic_salary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :golongan %>
    <%= f.input :satuan %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
