<%= simple_form_for(@structural_allowance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nama, label: 'Nama' %>
    <%= f.input :satuan, label: 'Satuan' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-default' %>&nbsp;&nbsp;<%= link_to 'Kembali', structural_allowances_path, class: 'btn btn-success' %>
  </div>
<% end %>
