
<div class='container'>
  <div class='row'>
    <h3 class='lead'>Rincian Besarnya Tunjangan Struktural Berdasarkan Pepres 65 Tahun 2007&nbsp;&nbsp;<%= link_to 'Buat Jabatan Struktural', new_structural_allowance_path, class:'btn btn-default' %>&nbsp;&nbsp;<%= link_to 'Download', structural_allowances_path(@structural_allowances, format:'pdf'), target:'_blank', class:'btn btn-primary' %></h3>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>Nama Jabatan Struktural</th>
          <th>Satuan</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @structural_allowances.each do |structural_allowance| %>
          <tr>
            <td><%= structural_allowance.nama.titleize %></td>
            <td><%= "#{number_to_currency(structural_allowance.satuan, precision:0, unit:'Rp ')}" %></td>
            <td><%= link_to 'Edit', edit_structural_allowance_path(structural_allowance), class:'btn btn-warning' %>&nbsp;&nbsp;<%= link_to 'Hapus', structural_allowance, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
