<%= simple_form_for(@salary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :period, label_method: lambda{|period| "#{period.nama.titleize}"}, label: 'Periode' %>
    <%= f.association :lecture, label_method: lambda{|lecture| "#{lecture.nama.upcase}"}, label:'Dosen' %>
    <%= f.association :tax1, label: 'Arisan', placeholder: 'Angka Saja Tanpa Simbol' %>
    <%= f.association :tax2, label: 'Potongan Pajak', placeholder: 'Angka Saja Tanpa Simbol' %>
    <%= f.association :tax3, label:'Potongan Lain Lain', placeholder: 'Angka Saja Tanpa Simbol' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>&nbsp;&nbsp;  <%= link_to 'Kembali', salaries_path, class:'btn btn-default' %>
  </div>
<% end %>
