<%= simple_form_for(@salary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :period, label_method: lambda{|period| "#{period.nama.titleize}"} %>
    <%= f.association :lecture, label_method: lambda{|lecture| "#{lecture.nama.upcase}"} %>
    <%= f.input :regular_gathering, label: 'Arisan', placeholder:'Tulis Dalam Angka Jumlahnya Tanpa Rupiah' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>&nbsp;&nbsp;  <%= link_to 'Kembali', salaries_path, class:'btn btn-default' %>
  </div>
<% end %>
