<%= simple_form_for(@salary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :period, label_method: lambda{|period| "#{period.bulan.titleize}"}, label: 'Periode' %>
    <%= f.association :lecture, label_method: lambda{|lecture| "#{lecture.nama.upcase}"}, label:'Dosen' %>
    <%= f.association :tax1, label: 'Potongan 1', placeholder: 'Angka Saja Tanpa Simbol', label_method: lambda{|tax1|"#{tax1.nama} = #{tax1.satuan}"} %>
    <%= f.association :tax2, label: 'Potongan 2', placeholder: 'Angka Saja Tanpa Simbol', label_method: lambda{|tax2|"#{tax2.nama} = #{tax2.satuan}"} %>
    <%= f.association :tax3, label:'Potongan 3', placeholder: 'Angka Saja Tanpa Simbol', label_method: lambda{|tax3|"#{tax3.nama} = #{tax3.satuan}"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>&nbsp;&nbsp;  <%= link_to 'Kembali', salaries_path, class:'btn btn-default' %>
  </div>
<% end %>
