<div class='container'>
  <div class='row'>
    <h3 class='lead'>Daftar Gaji&nbsp;&nbsp;<%= link_to 'Buat Gaji', new_salary_path, class:'btn btn-default' %></h3>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>Nomor Slip Gaji</th>
          <th>Dosen</th>
          <th>Total</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @salaries.each do |salary| %>
          <tr>
            <td><%= salary.form_number.upcase %></td>
            <td><%= link_to salary.lecture.nama.upcase, salary rescue nil %></td>
            <td><%= "#{number_to_currency(salary.total, precision:0, unit:"Rp     ")}" %></td>
            <td><%= link_to 'Edit', edit_salary_path(salary) %>&nbsp;&nbsp;<%= link_to 'Hapus', salary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>
