<p id="notice"><%= notice %></p>

<h1>Listing Salaries</h1>

<table>
  <thead>
    <tr>
      <th>Form number</th>
      <th>Period</th>
      <th>Lecture</th>
      <th>Tax</th>
      <th>Regular gathering</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salaries.each do |salary| %>
      <tr>
        <td><%= salary.form_number %></td>
        <td><%= salary.period_id %></td>
        <td><%= salary.lecture_id %></td>
        <td><%= salary.tax %></td>
        <td><%= salary.regular_gathering %></td>
        <td><%= salary.total %></td>
        <td><%= link_to 'Show', salary %></td>
        <td><%= link_to 'Edit', edit_salary_path(salary) %></td>
        <td><%= link_to 'Destroy', salary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary', new_salary_path %>
