<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
      <div class='panel panel-success'>
        <div class='panel-heading'>
              <%= @salary.form_number.upcase %>
        </div>
        <div class='panel-body'>
              <table class='table table-hover table-striped'>
                <br />
                <tr>
                  <td>NAMA</td>
                  <td><%= @salary.lecture.nama.upcase %></td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td>NIDN</td>
                  <td><%= @salary.lecture.nidn rescue nil %></td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td>GAJI POKOK</td>
                  <td><%= @salary.lecture.education.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.education.satuan, precision:0, unit: "Rp     ")}" rescue nil %></td>

                </tr>
                <tr>
                  <td>TUNJANGAN FUNGSIONAL</td>
                  <td><%= @salary.lecture.functional_allowance.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.functional_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>TUNJANGAN STRUKTURAL</td>
                  <td><%= @salary.lecture.structural_allowance.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.structural_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>TUNJANGAN KHUSUS</td>
                  <td><%= @salary.lecture.special_allowance.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.special_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>ARISAN</td>
                  <td></td>
                  <td class='minus'><%= @salary.regular_gathering.present? ? "#{number_to_currency(@salary.regular_gathering, precision: 0, unit:"Rp     ")}""(-)" : " "  %></td>
                </tr>
                <tr>
                  <td>POTONGAN PAJAK</td>
                  <td></td>
                  <td class='minus'><%= @salary.potongan_pajak.present? ? "#{number_to_currency(@salary.potongan_pajak, precision:0, unit:"Rp     ")}""(-)" : "" rescue nil %></td>
                </tr>

                <tr>
                  <td>POTONGAN LAIN - LAIN</td>
                  <td></td>
                  <td class='minus'><%= @salary.potongan_lain_lain.present? ? "#{number_to_currency(@salary.potongan_lain_lain, precision:0, unit:"Rp     ")}""(-)" : "" rescue nil %></td>
                </tr>
                <tr>
                  <td></td>
                  <td><strong>TOTAL GAJI</strong></td>
                  <td><%= "#{number_to_currency(@salary.total, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
              </table>
              <div class='pull-right'>
                <%= link_to 'Edit', edit_salary_path(@salary), class: 'btn btn-default' %>&nbsp;&nbsp;
                <%= link_to 'Cetak', '', class: 'btn btn-success' %>&nbsp;&nbsp;
                <%= link_to 'Kembali', salaries_path, class:'btn btn-primary' %>
              </div>
        </div>

      </div>
    </div>
  </div>
</div>
