<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
      <div class='panel panel-success'>
        <div class='panel-heading'>
              <%= @salary.form_number.upcase rescue nil %>
        </div>
        <div class='panel-body'>
              <table class='table table-hover table-striped'>
                <br />
                <tr>
                  <td>NAMA</td>
                  <td><%= @salary.lecture.nama.upcase %></td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td>NIDN</td>
                  <td><%= @salary.lecture.nidn rescue nil %></td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td>GAJI POKOK</td>
                  <td><%= @salary.lecture.education.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.education.satuan, precision:0, unit: "Rp     ")}" rescue nil %></td>

                <tr>
                  <td>GOLONGAN</td>
                  <td><%= @salary.lecture.classification.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.classification.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>

                </tr>
                <tr>
                  <td>TUNJANGAN FUNGSIONAL</td>
                  <td><%= @salary.lecture.functional_allowance.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.functional_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>TUNJANGAN STRUKTURAL</td>
                  <td><%= @salary.lecture.structural_allowance.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.structural_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>TUNJANGAN KINERJA</td>
                  <td><%= "#{@salary.lecture.performance_allowance.range_mahasiswa} MHS" rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.performance_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>TUNJANGAN KHUSUS</td>
                  <td><%= @salary.lecture.special_allowance.nama.upcase rescue nil %></td>
                  <td><%= "#{number_to_currency(@salary.lecture.special_allowance.satuan, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
                <tr>
                  <td>POTONGAN 1</td>
                  <td class='minus'><%= "#{@salary.tax1.nama.upcase}" rescue nil %></td>
                  <td class='minus'><%= @salary.tax1.present? ? "#{number_to_currency(@salary.tax1.satuan, precision: 0, unit:"Rp     ")}""(-)" : " " rescue nil %></td>
                </tr>
                <tr>
                  <td>POTONGAN 2</td>
                  <td class='minus'><%= "#{@salary.tax2.nama.upcase}" rescue nil %></td>
                  <td class='minus'><%= @salary.tax2.present? ? "#{number_to_currency(@salary.tax2.satuan, precision:0, unit:"Rp     ")}""(-)" : "" rescue nil %></td>
                </tr>

                <tr>
                  <td>POTONGAN 3</td>
                  <td class='minus'><%= "#{@salary.tax3.nama.upcase}" rescue nil %></td>
                  <td class='minus'><%= @salary.tax3.present? ? "#{number_to_currency(@salary.tax3.satuan, precision:0, unit:"Rp     ")}""(-)" : "" rescue nil %></td>
                </tr>
                <tr>
                  <td></td>
                  <td><strong>TOTAL GAJI</strong></td>
                  <td><%= "#{number_to_currency(@salary.total, precision:0, unit:"Rp     ")}" rescue nil %></td>
                </tr>
              </table>
              
        </div>

      </div>
    </div>
  </div>
</div>
