<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @classification.nama %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @classification.satuan %>
</p>

<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
