<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @tax.nama %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @tax.satuan %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
