<div class='container'>
  <div class='row'>
    <h3 class='lead'>Daftar Tunjangan Khusus&nbsp;&nbsp;<%= link_to 'New Special allowance', new_special_allowance_path, class: 'btn btn-default' %></h3>
    <table>
      <thead>
        <tr>
          <th>Nama</th>
          <th>Satuan</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @special_allowances.each do |special_allowance| %>
          <tr>
            <td><%= special_allowance.nama %></td>
            <td><%= special_allowance.satuan %></td>
            <td><%= link_to 'Show', special_allowance %></td>
            <td><%= link_to 'Edit', edit_special_allowance_path(special_allowance) %></td>
            <td><%= link_to 'Destroy', special_allowance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>



  </div>
</div>
