
<div class='container'>
  <div class='row'>
    <h3 class='lead'>Rincian Besarnya Tunjangan Kinerja Berdasarkan Pepres 65 Tahun 2007&nbsp;&nbsp;<%= link_to 'Buat Tunjangan Kinerja', new_performance_allowance_path, class:'btn btn-default' %></h3>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>Range Mahasiswa</th>
          <th>Satuan</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @performance_allowances.each do |performance_allowance| %>
          <tr>
            <td><%= performance_allowance.range_mahasiswa %></td>
            <td><%= "#{number_to_currency(performance_allowance.satuan, precision:0, unit:'Rp ')}" %></td>
            <td><%= link_to 'Edit', edit_performance_allowance_path(performance_allowance) %>&nbsp;&nbsp;<%= link_to 'Hapus', performance_allowance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%#= link_to 'Download', structural_allowances_path(@structural_allowances, format:'pdf'), target:'_blank' %>
  </div>
</div>
