<!DOCTYPE html>
<html>
<head>
  <title>Yptkd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'iconupri.ico' %>
</head>
<body>
<%= render 'shared/navigation' %>
<% if flash[:notice] %>
<div class='alert alert-success' id="notice"><%= notice %></div>
<% end %>
<% if flash[:alert] %>
<div class='alert alert-success' id="notice"><%= notice %></div>
<% end %>
<%= yield %>

</body>
</html>
