<div class='container'>
  <div class='row'>
    <h3 class='lead'>Tunjangan Fungsional Berdasarkan PePres No 65 Tahun 2007&nbsp;&nbsp;<%= link_to 'New Functional allowance', new_functional_allowance_path, class:'btn btn-default' %>
    </h3>

    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>Nama</th>
          <th>Satuan</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @functional_allowances.each do |functional_allowance| %>
          <tr>
            <td><%= functional_allowance.nama.titleize rescue nil %></td>
            <td><%= "#{number_to_currency(functional_allowance.satuan, precision: 0, unit:'Rp ')}" %></td>
            <td><%= link_to 'Show', functional_allowance %></td>
            <td><%= link_to 'Edit', edit_functional_allowance_path(functional_allowance) %></td>
            <td><%= link_to 'Destroy', functional_allowance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
